{% extends 'AppBlog/base.html' %}

{% load static %}

{% block title %}
Enviar Mensaje
{% endblock title %}

{% block main %}
<h2>Enviar Mensaje</h2>
<form method="post" novalidate>
    {% csrf_token %}
    
    <!-- Destinatario -->
    <div class="form-group">
        {% if form.destinatario.value or form.is_bound %}
            <input type="hidden" name="{{ form.destinatario.name }}" value="{{ form.destinatario.value }}">
        {% else %}
            <label for="{{ form.destinatario.id_for_label }}">Destinatario:</label>
            {{ form.destinatario.errors.as_text }}
            {{ form.destinatario }}
        {% endif %}
    </div>

    <!-- Asunto -->
    <div class="form-group">
        <label for="{{ form.cuerpo.id_for_label }}">Asunto:</label>
        {{ form.cuerpo.errors.as_text }}
        {{ form.cuerpo }}
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock main %}
