{% extends 'AppBlog/base.html' %}

{% load static %}

{% block title %} Perfil de Usuario {% endblock title %}

{% block main %}

{% if usuario.is_authenticated %}
    <h2>Perfil de {{ usuario.username }}</h2>
    {% if perfil.avatar %}
        <img src="{{ perfil.avatar.url }}" alt="" width="100">
    {% else %}
        <img src="{% static 'Blog_Page/media/avatar/generico.png' %}" alt="" width="100">
    {% endif %}
    <p>Descripción: {{ perfil.descripcion }}</p>
    <p>Sitio Web: <a href="{{ perfil.web_url }}" target="_blank">{{ perfil.web_url }}</a></p>

    <!-- ... más detalles del perfil ... -->

    {% if es_mismo_usuario %}
    <a href="{% url 'editar' %}">Editar Perfil</a> |
    {% endif %}
    <a href="{% url 'logout' %}">Desloguearse</a>
{% else %}
    <a href="{% url 'login' %}">Iniciar Sesión</a> |
    <a href="{% url 'register' %}">Registrarse</a>
{% endif %}

{% endblock main %}
