{% extends 'AppBlog/base.html' %}

{% load static %}

{% block title %} Perfil de Usuario {% endblock title %}

{% block main %}
{% if request.user.is_authenticated %}
    <h2>Perfil de {{ request.user.username }}</h2>
    {% if request.user.userprofile.avatar %}
        <img src="{{ request.user.userprofile.avatar.url }}" alt="Avatar" width="100">
    {% else %}
        <!-- En caso de que, por alguna razón, el avatar no esté configurado -->
        <img src="{% static 'Blog_Page/media/avatar/generico.png' %}" alt="" width="100">
    {% endif %}
    <!-- Código para subir avatar -->
    <form method="post" enctype="multipart/form-data">
        {{ mi_form.avatar.label }}: {{ mi_form.avatar }}
        <input type="submit" value="Subir Avatar">
        {% csrf_token %}
    </form>
    <!-- ... más detalles del perfil ... -->
    <a href="{% url 'editar' %}">Editar Perfil</a> | 
    <a href="{% url 'logout' %}">Desloguearse</a>
{% else %}
    <a href="{% url 'login' %}">Iniciar Sesión</a> | 
    <a href="{% url 'registro' %}">Registrarse</a>
{% endif %}
{% endblock main %}
