{% extends 'AppBlog/base.html' %}

{% load static %}

{% block title %} Registro de Usuarios {% endblock title %}

{% block main %}
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <h1>Registro de Usuarios</h1>
            
            <!-- Mostrando el mensaje de error aquí -->
            {% if msg_register %}
            <div class="alert alert-danger">{{ msg_register }}</div>
            {% endif %}  

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Registrar</button>
            </form>
            <a href="{% url 'login' %}">Ya tengo una cuenta</a>
        </div>
    </div>
{% endblock main %}
