<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %} Blog de Películas {% endblock title %}</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'AppBlog/css/styles.css' %}" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'peliculas' %}">Películas</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'categorias' %}">Categorías</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'resenas' %}">Reseñas</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block main %}
    {% endblock main %}
    <!-- Pie de página -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Derechos reservados &copy; Tu sitio web 2023</p>
        </div>
    </footer>
</body>
</html>
