{% extends 'AppBlog/base.html' %}

{% load static %}

{% block title %} Detalle del Blog {% endblock title %}

{% block main %}
<div class="container mt-5">
    <h1>{{ blog.titulo }}</h1>
    <img src="{{ blog.imagen }}" alt="{{ blog.titulo }}" class="img-fluid mb-3">
    <p><strong>Fecha de Publicación:</strong> {{ blog.fecha_publicacion }}</p>
    <div>
        {{ blog.contenido|linebreaks }}
    </div>
    <a href="{% url 'lista_blogs' %}" class="btn btn-primary mt-3">Volver a la lista</a>
</div>
{% endblock main %}
