{% extends 'AppBlog/base.html' %}

{% load static %}

{% block title %} Detalle del Blog {% endblock title %}

{% block main %}
<div class="container mt-5" style="max-width: 600px; overflow: hidden;">
    <h1>{{ blog.titulo }}</h1>
    <h4>{{ blog.subtitulo }}</h4>
    <img src="{{ blog.imagen.url }}" alt="Imagen del blog" style="width: 100%; height: auto; margin-bottom: 20px;">

    <div style="clear: both; padding-top: 10px;">
        <p><strong>Fecha de Creación:</strong> {{ blog.fecha_creacion }}</p>
        <div>
            {{ blog.cuerpo|linebreaks }}
        </div>
    </div>

<!-- Botones para editar y borrar el blog -->
<div class="mt-3">
        <a href="{% url 'editar_blog' blog.id %}" class="btn btn-secondary">Editar Blog</a>
        <a href="{% url 'borrar_blog' blog.id %}" class="btn btn-danger">Borrar Blog</a>
        <a href="{% url 'lista_blogs' %}" class="btn btn-primary mt-3">Volver a la lista</a>
</div>
</div>
{% endblock main %}
