{% extends 'AppBlog/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
<div style="height: 50px;"></div> 
<div class="container mt-5">
    <h2>Blogs</h2>
    {% for blog in blogs %}
        <div class="card mb-4">
            <img src="{{ blog.imagen.url }}" alt="{{ blog.titulo }}">
            <div class="card-body">
                <h5 class="card-title">{{ blog.titulo }}</h5>
                <p class="card-text">{{ blog.resumen }}</p>
                <a href="{% url 'detalle_blog' blog.id %}" class="btn btn-primary">Leer más</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock main %}